* {
  font-family: 'Zen Dots', cursive;
  color: #9DC88D;
  margin: 0;
  vertical-align: baseline;
  background-color: #164A41;
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.left-side-container,
.right-side-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #4D774E;
  align-items: center;
  width: 20vw;
  font-size: 35px;
}

.left-header,
.right-header,
.human-emoji,
.computer-emoji,
.human-wins,
.computer-wins {
  border: 4px #9DC88D solid;
  background-color: #164A41;
  border-radius: 50%;
  padding: 5%;
}

.human-wins,
.computer-wins {
  font-size: 35px;
  margin-top: 15%;
}

.human-emoji,
.computer-emoji {
  margin: 15% 0 5% 0;
}

.space-provider {
  margin-top: 20%;
}

.middle-section-container {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3.5rem;
}

.sub-heading {
  margin-top: 1%;
  font-size: 2.5rem;
}

.game-options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.classic-game {
  margin-bottom: 3rem;
  padding: 3%;
  border-radius: 15%;
  font-size: 20px;
}

.spicy-game {
  padding: 3.5%;
  cursor: pointer;
  border-radius: 15%;
  font-size: 20px;
}

.classic-game,
.spicy-game {
  background-color: #164A41;
  border: 10px solid #4D774E;
  cursor: pointer;
  transition: transform .2s;
}

.spicy-game:hover,
.classic-game:hover,
.change-game-button:hover {
  transform: scale(1.25);
}

.change-game-button:hover {
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
}

.playing-field,
.choose-fighter-container {
  display: flex;
  flex-direction: row;
}

.choose-fighter-container {
  margin-left: 10%;
}

.fighter-image {
  cursor: pointer;
  width: 70%;
  margin-left: 10%;
  border-radius: 20%;
  padding: 5%;
  transition: transform .2s;
}

.fighter-image:hover {
  transform: scale(1.25);
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
}

.chosen-fighter {
  cursor: default;
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
  pointer-events: none;
}

.change-game-button {
  cursor: pointer;
  font-size: 20px;
  width: 55%;
  height: 7%;
  background-color: #164A41;
  border-radius: 20%;
  margin: 45% 0 0 5%;
}

.hidden {
  display: none;
}
